

body {
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
    color: rgb(25, 3, 74);
    background-color: rgb(232, 242, 247);

}


.biblioteca{
    margin-top: auto;
    padding-left: 1rem;
    margin-bottom: 1rem;
}